<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Каталог</title>
    <style>
          @import url("{% static "styles/style.css" %}");
    </style>
</head>

<body>
<header class="container">
    <img height="75px" width="340px" src="{% static 'images/dns-shop.webp' %}">
</header>

<div class="main">
    <div class="div1">
        <form action="" name="search_form" method="get">
            <input class="input1" type="text" name="q" value="{{search_value}}" placeholder="Поиск по корпусам">
            <button class="search-button" type="submit"></button>
        </form>
        <form action="" name="filter_form" method="get">
            <fieldset>
            <legend>Цена</legend>
            <input type="radio" name="q1" value="all">Все цены<br>
            <input type="radio" name="q1" value="1">Менее 3000 ₽<br>
            <input type="radio" name="q1" value="2">3001-4500 ₽<br>
            <input type="radio" name="q1" value="3">4501-6000 ₽<br>
            <input type="radio" name="q1" value="4">6001-10000 ₽<br>
            <input type="radio" name="q1" value="5">10001-15000 ₽<br>
            <input type="radio" name="q1" value="6">15001 и более ₽<br>
            </fieldset>
            <br>
            <button class="submit-button" type="submit">Применить</button>
            <button class="reset-button" type="reset">Сбросить</button>
        </form>
    </div>
    <div class="div2">
        <p><strong>Корпуса </strong>{{corpuses|length}} ед. товара</p>
        <table align="right">
            {%for corpus in corpuses%}
            <tr>
                <th width="700px" height="100px" bgcolor="#FAFAFA">
                    <img align="left" height="100px" src="{% static '/images/computer.png' %}" alt="image">
                    <p align="left"> {{corpus.name}} {{corpus.manufacturer}}, {{corpus.color}}<p>
                    <p align="left"><font size="2"> [{{corpus.type_size}}, {{corpus.motherboard_form}}, 2x USB 2.0]</font><p>
                    <p align="right"><font size="5"> {{corpus.price}}₽ </font><p>
                </th>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
</body>

</html>