<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <style>
        table{
        border-collapse: separate;
        border-spacing:10px;
        }
        th, td {
        border: 1px solid #f0f0f0;
        border-radius:10px;
        font-family: "PT Sans","Helvetica","Arial",sans-serif;
        font-size: 16px;
        color: #333;
        padding:10px;
        }

    </style>
    <title>Каталог</title>
</head>
<body>
<div>
    <table align="right">
        {%for one in many%}
        <tr>
            <th width="700px" height="100px" bgcolor="#FAFAFA">
                <img align="left" height="100px" src="{{MEDIA_URL}}computer.png" alt="image">
                <p align="left">{{one.name}} {{one.manufacturer}}, {{one.color}}<p>
                <p align="left">[{{one.type_size}}, {{one.motherboard_form}}]<p>
                <strong> {{one.price}}₽</strong>
            </th>
        </tr>
        {%endfor%}
    </table>
</div>
</body>
</html>